@import '~vars';
@import '~tao-scss/index';

.msg {
  display: block;
  margin-bottom: rem(5);

  &--info {
    color: $info-blue;
  }

  &--error {
    color: $tomatao-red;
  }

  &--good {
    color: $tomatao-green;
  }
}

.close {
  border: 1px solid $dark-grey;
  border-radius: rem(10);
  padding: rem(1 5);

  &:hover {
    cursor: pointer;
  }
}
