@import '~vars';
@import '~tao-scss/index';

.listItem {
  font-family: $heading-font;
  position: relative;
  padding: rem(10px);
  list-style-type: none;
  margin-bottom: rem(10px);

  &:hover {
    color: $link-color;
    cursor: pointer;
  }

  h3 {
    background: $grey;
    display: inline;
    padding: rem(10px);
    box-shadow: 0px 0px 2px #000;

    &:before {
      content: "";
      position: absolute;
      top: -2px;
      left: rem(-20px);
      display: inline-block;
      border-width: rem(25px) rem(30px) rem(25px) 0;
      border-color: transparent $info-blue transparent transparent;
      width: 0;
      height: 0;
      border-style: solid;
    }
  }
}
