@import '~vars';
@import '~tao-scss/index';

.sub {
  background: $tomatao-green;
  color: $font-light;
  font-size: $small-font-size;
  margin: rem(2);
  padding: rem(6 10);
}

.tagList {
  background: darken($grey, 50%);
  color: $font-light;
  font-size: $small-font-size;
  padding: rem(5);
  position: absolute;
  right: rem(-10);
  top: rem(10);
  visibility: hidden;
}

.tag {
  padding: rem(2);
}

.post {
  position: relative;

  h3 {
    background: $grey;
    color: lighten($font-dark, 10%);
    display: block;
    margin: 0;
    padding: rem(10 5 10 20);

    &:before {
      border-color: transparent $tomatao-red transparent transparent;
      border-style: solid;
      border-width: rem(15 30 15 0);
      content: '';
      display: inline-block;
      height: 0;
      left: rem(-20);
      position: absolute;
      top: rem(8);
      transform: rotate(0deg);
      transition: transform ease-in 200ms, left ease-in 200ms;
      width: 0;
    }
  }

  &:hover {
    cursor: pointer;

    h3 {
      background: $font-light;
      box-shadow: rem(0 0 2) $font-dark;
      color: $font-dark;

      &:before {
        border-color: transparent $tomatao-green transparent transparent;
        left: rem(-15);
        transform: rotate(180deg);
      }
    }

    .sub {
      background: $tomatao-red;
    }

    .tagList {
      visibility: visible;
    }
  }
}
