@import '~vars';
@import '~tao-scss/index';

.spinner {
  margin: rem(100) auto 0;
  text-align: center;
  width: rem(( 18 + 10 ) * 3);
}

.bounce1,
.bounce2,
.bounce3 {
  animation: bouncedelay 1.4s infinite ease-in-out both;
  background-color: $font-dark;
  border-radius: 100%;
  display: inline-block;
  height: rem(18);
  margin: 0 rem(5);
  width: rem(18);
}

.bounce1 {
  animation-delay: -.32s;
}

.bounce2 {
  animation-delay: -.16s;
}

.bounce3 {
  animation-delay: 0s;
}

@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }
}
