@import '~tao-scss/index';
$breakpoints: (
  palm    max(em(480)),
  mobile  between(em(481), em(768)),
  sm      min(em(481)),
  tablet  between(em(769), em(980)),
  md      min(em(769)),
  laptop  between(em(981), em(1023)),
  lg      min(em(981)),
  desktop min(em(1024))
) !default;

// Font
$font-family: Consolas, Monaco, Andale Mono, Ubuntu Mono, monospace;
$default-font-size: em(16);
$small-font-size: em(12);
$header-font-size: em(26);
$subheader-font-size: em(20);
$sectionheader-font-size: em(16);
$note-font-size: em(14);

// Colours
$bg-white: #fefffb;
$white: #fff;
$black: #111;
$font-dark: #444;
$font-light: $white;

$dark-grey: #3a3a3a;
$grey: #eceeef;

$tomatao-red: #cf3f3f;

$info-blue: #68cbff;

$tomatao-green: #079948;
$function-green: $tomatao-green;

$syntax-orange: #ff9119;
$operator-pink: #ff69b4;

// Dimensions
$max-width: rem(720);
$side-padding: 5vw;
