@import '~vars';
@import '~tao-scss/index';
@import '~prismjs/themes/prism-funky';

.token {
  &.keyword {
    color: $tomatao-red;
  }

  &.operator {
    color: $operator-pink;
  }

  &.function {
    color: lighten($function-green, 10%);
  }

  &.class-name {
    color: $info-blue;
  }

  &.punctuation {
    color: $syntax-orange;
  }

  &.variable {
    color: $operator-pink;
  }
}
