@import '~vars';
@import '~tao-scss/index';

body {
  color: $font-dark;
  font-family: $font-family;
  font-size: $default-font-size;
  margin: 0;
  background: $bg-white;
}

.app {
  ::selection {
    background: $syntax-orange;
  }
}

.content {
  margin: 0 auto;
  max-width: $max-width;
  padding: 0 $side-padding;
}
