@import '~vars';
@import '~tao-scss/index';

body {
  background: $bg-white;
  color: $font-dark;
  font-family: $font-family;
  font-size: $default-font-size;
  margin: 0;
}

.app {
  ::selection {
    background: $syntax-orange;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto rem(20);
  padding: 0 $side-padding;
}

.content {
  flex: 1;
}

.aside {
  flex: 1;
  margin-top: rem(20);
}

@include breakpoint('md') {
  .wrapper {
    flex-direction: row;
    max-width: 90vw;
  }

  .content {
    flex: 2;
    margin-right: 2vw;
    max-width: 59vw;
  }

  .aside {
    margin-top: 0;
  }
}

@include breakpoint('desktop') {
  .wrapper {
    max-width: rem(1000);
  }
}
