@import '~vars';
@import '~tao-scss/index';

body {
  background: $bg-white;
  color: $font-dark;
  font-family: $font-family;
  font-size: $default-font-size;
  margin: 0;
}

.app {
  ::selection {
    background: $syntax-orange;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto rem(20);
  padding: 0 $side-padding;
}

.content {
  flex: 1;
  max-width: rem(680);
}

.aside {
  flex: 1;
  margin-top: rem(20);
  position: relative;
  transition: flex 300ms ease-in;
}

.aboutMe {
  opacity: 1;
  position: absolute;
  top: 0;
  transform: scaleY(1);
  transition: opacity 100ms ease-in, transform 200ms ease-out;
}

.hide {
  display: none;
}

@include breakpoint('md') {
  .hide {
    background: $tomatao-green;
    color: $white;
    display: block;
    left: 90%;
    padding: rem(5 10);
    position: absolute;
    top: 90px;
    transform: rotate(90deg);

    &:hover {
      cursor: pointer;
    }
  }

  .asideHide {
    flex: 0;
  }

  .aboutMeHide {
    opacity: 0;
    transform: scaleY(.3);
  }

  .wrapper {
    flex-direction: row;
    max-width: 90vw;
  }

  .content {
    flex: 2;
    margin-right: 2vw;
    max-width: rem(720);
    width: 0;
  }

  .aside {
    margin-top: 0;
    width: 0;
  }
}

@include breakpoint('desktop') {
  .wrapper {
    max-width: rem(1100);
  }

  .content {
    max-width: rem(940);
  }
}
