@import '~vars';
@import '~tao-scss/index';

.nav {
  border-top: rem(5) solid $tomatao-red;
  padding: rem(10 0);
  margin-bottom: rem(10);

  a {
    color: $font-dark;
    margin-right: rem(10);
    text-decoration: none;

    &:last-of-type {
      margin-right: 0;
    }
  }
}

.inner {
  margin: 0 auto;
  padding: 0 $side-padding;
}

.homeLink {
  img {
    padding-right: rem(20);
    vertical-align: middle;
    width: rem(35);
  }
}

.header {
  display: inline;
  font-size: $subheader-font-size;
  position: relative;
  top: rem(1);
  vertical-align: middle;
}

a.active {
  color: $font-dark;
}

@include breakpoint('md') {
  .inner {
    max-width: 90vw;
  }
}

@include breakpoint('desktop') {
  .inner {
    max-width: rem(1000);
  }
}
